<h2>All Users </h2>

<div class="users">
	<% for user in @users %>
	  <div class="user">
	    <p>
	      <strong><%= link_to user.username, user_path(user) %></strong>
				<small><%= link_to "Follow", follows_path(:followed_id => user), :method => :post %></small>
	      <div class="clear"></div>
	    </p>
	  </div>
	<% end %>
