/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
  font-family: 'Suplexmentary Comic NC';
  src:
  url('/assets/fonts/SuplexmentaryComicNC.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
}

header {
  min-width: 100%;
  height: 50px;
  font-family: Arial;
  background-color: #000;
  color: #FBE403;
  float: left;
  margin: 0 -9999rem;
  padding: 0.25rem 9999rem;
  overflow-x: hidden;
}

header h1 {
  font-family: 'Suplexmentary Comic NC', sans-serif;
  text-indent: 10px;
}
